.Menu {
  padding: 20px;
  background-color: #f0f0f0;
  border-right: 1px solid #dee2e6;
  font-family: Arial, sans-serif;
}

.Menu .sticky {
  position: sticky;
  top: 120px;
}

#apiTitle {
  background-color: #e8e8e8;
  padding: 10px;
  font-family: monospace;
}

.Menu .get {
  font-size: 0.8em;
  color: #008000;
  font-family: monospace;
}

.Menu p {
  font-size: 0.9em;
  margin-left: 10px;
  cursor: pointer;
  color: #666;
  transition: color 0.3s ease;
}

.Menu p:hover {
  color: #333;
}
