.Login {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Login h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.Login hr {
  margin: 20px 0;
}

.Login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login input[type="text"],
.Login input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.Login input[type="checkbox"] {
  margin-right: 10px;
}

.Login label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

.Login input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
}

.Login input[type="submit"]:hover {
  background-color: #0056b3;
}

.Login span {
  color: red;
  font-size: 12px;
}
