body {
  margin: 0;
  padding: 0;
}

.Main {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: auto;
}

.Header {
  grid-area: header;
}

.Menu {
  grid-area: menu;
}

.Content {
  grid-area: content;
}

.Footer {
  grid-area: footer;
}
