.App {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: auto;
}

.Header {
  grid-area: header;
}

.Menu {
  grid-area: menu;
}

.Main {
  grid-area: main;
}

.Footer {
  grid-area: footer;
}
